div.horizontal {
	height: 50px;
}
.horizontal {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

div.vertical {
	height: 200px;
}
.vertical {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
