* {
  box-sizing: border-box;
}

.custom {
  margin: 64px;
  width: 200px;
  height: 50px;
  padding: auto;
  background-color: coral;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: none;
  line-height: 50px;
}

.custom:hover {
  color: darkcyan;
}

.custom:hover > .bird-icon {
  fill: green;
}

.bird-icon {
  width: 32px;
  height: 32px;
  fill: white;
  vertical-align: middle;
}
