// @import "variables.scss";

.header {
  height: $unit * 7;
  background-color: $color-grey;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: $unit * 7;

  list-style-type: none;
  &__item {
    border-radius: $unit;
    color: $text-color-secondary;
    padding: $unit;
    margin-left: $unit;
    font-weight: 700;
    cursor: pointer;

    background-color: $secondary-color;
  }

  &__item_selected {
    background-color: $color-primary;
  }

  &__item:hover {
    opacity: 0.7;
  }
}
