* {
	box-sizing: border-box;
}
.bord {
	border: 2px solid black;
	margin: 50px;
}

.first {
	background-color: pink;

	padding: 50px;
}

.second {
	background-color: green;
}

.third {
	background-color: yellow;
}

.four {
	background-color: blue;
}
